body {
    margin: 0;
    font-family: sans-serif;
}
.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    text-align: center;
    color: lightgray;

    /* Background styles */
    background-image: url(https://images7.alphacoders.com/901/901848.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero h1 {
    /* Text styles */
    font-size: 5em;

    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}