
* {
    margin: 0;
    box-sizing: border-box;
}

/* general styles for html elements */

body {
    background-color: rgb(45,46,41);
    color: #4c6c5d;
    font-family: Bahnschrift, sans-serif;
    margin: 0;
}


h1 {
    font-size: 32px;
    text-shadow: -1px -1px black, 1px 1px gray, -3px 0 4px lightblue;
    font-family:Arial, Helvetica, sans-serif;
    color: #505739;
    padding:16px;
    font-weight:lighter;
    -moz-box-shadow: 2px 2px 6px #888;
    -webkit-box-shadow: 2px 2px 6px #888;
    box-shadow:2px 2px 6px #888;
    text-align:center;
    display:block;
    margin:16px;
}

h2 {
    font-size: 2em;
    text-shadow: -1px -1px black, 1px 1px gray, -3px 0 4px lightblue;
    font-family:Arial, Helvetica, sans-serif;
    color: #505739;
    padding:16px;
    font-weight:lighter;
    -moz-box-shadow: 2px 2px 6px #888;
    -webkit-box-shadow: 2px 2px 6px #888;
    box-shadow:2px 2px 6px #888;
    text-align:center;
    display:block;
    margin:16px;
}

p {
    padding: 10px 50px;
}

hr {
    border-color: #EDC7CF;
    width: 70%;
    margin: 5px auto;
}

a {

}


/* general layout shared by all pages */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: dimgray;
    color: #EDC7CF;
    height: 150px;
}

.navbuttons {
    display: flex;
}

.bottom {
    background-color: dimgray;
    color: #EDC7CF;
    height: 30px;
    font-size: 0.7em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bottom p {
    text-align: center;
}

.row1 {
    display: flex;
    position: relative;
    margin: 150px 0 20px 0;
}

.row1 img {
    width: 100%;
    height: auto;
}

.row1content {
    flex-grow: 4;
    margin: 0 50px 40px 50px;
}

.filters {
}
.onefilter {
    margin: 2px 0;
    display: flex;
}
.filtername {
    width: 4em;
    padding: 0.2em;
}
/* links that do or don't look like buttons */
a.buttonLook {
    box-shadow: 0px 1px 0px 0px #1c1b18;
    background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
    background-color:#eae0c2;
    border-radius:15px;
    border:2px solid #333029;
    display:inline-block;
    cursor:pointer;
    color:#505739;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    padding:12px 16px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff
}

a.buttonLook:hover {
    background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
    background-color:#ccc2a6;
}

a.buttonLook:active {
  position: relative;
    top: 1px;
}

a.largeButton {
    display: block;
    width: 200px;
    font-size: 2em;
    padding: 1em;
}

a.mediumButton {
    display: block;
    margin: 10px auto;
    width: 400px;
    font-size: 1.2em;
    padding: 1em;
}

a.smallButton {
    display: block;
    font-size: 1em;
    padding: 0.5em;
}

a.menuButton {
    display: block;
    margin: 0 10px;
    width: 6em;
    padding: 0.2em;
}

a.filterButton {
    margin: 0 2px;
    width: 2em;
    padding: 0.2em;
}

a.activeFilter {
    background-color: #f3a4b4;
    color: #2b3e35;
}

a.linkLook {
    background-color: transparent;
    color: #6A8E7F;
}

a.linkLook:hover {
    background-color: transparent;
    color: #989572;
}


/* venue page only */
.venueinfo {
    margin: 50px 0;
}

.infoLine {
    margin: 15px 0;
    font-size: 1em;
    display: flex;
}

.infoLineName {
    width: 13em;
/ / background-color: cadetblue;
}

.infoLineValue {
    font-size: 1.2em;
    text-align: left;
/ / background-color: yellow;
}

.prevButtonDiv {
    position: absolute;
    left: 10px;
}

.nextButtonDiv {
    position: absolute;
    right: 10px;
}

/* home page only */

.row2 {
    background-color: #989572;
    color: #EDC7CF;
    height: 400px;
    padding: 60px 0;
}

.row3 {
    background-color: #C6AE82;
    height: 300px;
    padding: 60px 0;
    text-align: center;
}


