<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>


<div class="row1">
    <div class="row1content" th:if="${merk}">

        <div class="prevButtonDiv">
            <a class="buttonLook smallButton" th:href="@{|/merkdetails/${prevId}|}">&lt;</a>
        </div>
        <div class="nextButtonDiv">
            <a class="buttonLook smallButton" th:href="@{|/merkdetails/${nextId}|}">&gt;</a>
        </div>

        <h2 th:text="${merk.merkName}">merkdetails</h2>
        <div class="venueinfo">
            <div class="infoLine">
                <div class="infoLineName">info:</div>
                <div class="infoLineValue">
                    <a th:href="${merk.linkMoreInfo}" th:text="${merk.linkMoreInfo}" target="_blank">linkMoreIfo</a>
                </div>
            </div>
            <div class="infoLine">
                <div class="infoLineName">genre:</div>
                <div class="infoLineValue" th:text="${merk.genre}">genre</div>
            </div>

        </div>
        <div class="infoLine">
            <div class="infoLineName">moto:</div>
            <div class="infoLineValue" th:text="${merk.moto}"></div>
        </div>
    </div>

</div>
<div class="row1content" th:unless="${merk}">
    <p>geen merk gekozen</p>
</div>
</div>

</body>
</html>